@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700);

/****************************************

          Setting

*****************************************/

.container, h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans', sans-serif;
}
body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    /*padding-top: 0px;*/
	background-color: #edac7d;
background: -webkit-linear-gradient(top, #31b7d7 0%, #edac7d 100%);
background: -moz-linear-gradient(top, #31b7d7 0%, #edac7d 100%);
background: -ms-linear-gradient(top, #31b7d7 0%, #edac7d 100%);
background: -o-linear-gradient(top, #31b7d7 0%, #edac7d 100%);
background: linear-gradient(to bottom, #31b7d7 0%, #edac7d 100%);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#31b7d7', EndColorStr='#edac7d'); 
}

img {border: 0;}
ol, ul {
    list-style: none;
}
p {color: #000;}
h1 {
    font-weight:bold;
    margin-right: 90px;
}
h3 {color: #000;}
a {
    color: #000;
    cursor: pointer;
}
a:hover{color: #000;}
.container {
    float: left;
    width:100%;
    margin: 0 auto;
}
.clearLeft {
    clear: left;
}

/****************************************

          font

*****************************************/

@font-face {
	font-family: 'lamusica';
	src:url('../fonts/LetterGothicStd-Slanted.woff') format('woff'), /* Modern Browsers */
	url('../fonts/LetterGothicStd-Slanted.TTF') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: 'lamusica2';
	src:url('../fonts/segoepr.woff') format('woff'), /* Modern Browsers */
	url('../fonts/segoepr.ttf') format('truetype'); /* Safari, Android, iOS */
}


/****************************************

          Main, Header

*****************************************/

.main{
    float: left;
    /*margin-left: 30px;*/
    width: 90%;
    position:relative;
    left:10%;
    margin: 0 auto;
    /*margin-right: 20px;*/
}
#header {
	text-align:center;
	margin-top: 40px;
}
#header h1{
    text-align:center;
	font-family:'lamusica2';
	font-size:91px;
	font-weight:100;
	margin-top:85px;
	margin-bottom:19px;
	text-shadow: -2px 2px 4px #000;
}

#header .beginning{
	font-family:'lamusica';
	letter-spacing: 0.1em;
	text-align:right;
	font-size:18px;
	border-top-width: 6px;
	border-top-style: solid;
	border-top-color: #EEC362;
}

#header .explain{
    font-size:14px;
    padding-bottom:10px;
    color:#EB6100;
}
#header .center{
    text-align:center;
    color:#EB6100;
}
.bs-docs-nav {
}
.bs-docs-nav .navbar-toggle {
    border: none;
    background-color:#000000;
}
.navbar-toggle:hover {
    background-color: #ffffff;
}

.yellowline{
}


/****************************************

          Form

*****************************************/

#form {
    margin:0 auto;
    margin-top: 10px;
    float:none;
}
#form .form-control {
    display:inline;
    width:75%;
    padding-left:10px;
}
#form .tt-hint {
    margin:5px 9px;
}
#form button {
    margin:0 0 0 5px;
    /*width:80px;*/
}

/****************************************

          Modal

*****************************************/
.modal {
    font-size:14px;
    padding-bottom:10px;
}
.modal-dialog {
    text-align: left;
}
.modal-content, .aside-content {
    background-color: #edac7d;
background: -webkit-linear-gradient(top, #31b7d7 0%, #edac7d 100%);
background: -moz-linear-gradient(top, #31b7d7 0%, #edac7d 100%);
background: -ms-linear-gradient(top, #31b7d7 0%, #edac7d 100%);
background: -o-linear-gradient(top, #31b7d7 0%, #edac7d 100%);
background: linear-gradient(to bottom, #31b7d7 0%, #edac7d 100%);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#31b7d7', EndColorStr='#edac7d');
}
.modal-body
 p {
    color: #333;
}
.modal-header {
}
.modal-body {
}
.modal-footer, .aside-footer {
}

/****************************************

          Aside

*****************************************/

.aside .aside-dialog .aside-header{
	 background-color: #31b7d7;
}
.aside-body{
}
.aside-title, .aside-body h4,span {
    color: #333;
}
.aside{
	background-color: #31b7d7;
}
select {
    margin: 15px 0px 15px 0px;
}

/****************************************

          AfterView Set-number Repeat

*****************************************/
.after_view {
    display: none;
}
#set-number {
    width:90px;
    float: left;
    margin-right:5px;
    text-align: right;
}
#repeat_btn {
    margin-right:3px;
}

/****************************************

          List

*****************************************/

#list-intro {
    font-family:'YuGothic', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
    font-size:1.2em;
    display:none;
}
#list {
    /*width:320px;*/
    width:30%;
    float:left;
    padding-left:15px;
    /*border-right: 1px solid #ccc;*/
}
.list-item {
    /*width:300px;*/
    width:100%;
    margin-bottom:5px;
}
.list-item img {
    border:1px solid #333;
    margin-right:4px;
    max-width:20px;
    max-height:20px;
    width:20px;
    height:20px;
    background-color:#ccc;
}
.list-item b {
    display:block;
    width:250px;
    margin:0 0 0 4px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height:1.2em;
}
.list-item a {
    display:block;
    padding:5px;
    /*border:1px solid #ccc;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.list-item a:hover {
    background-color:#eee;
}
.list-item a.list-active {
    color: #fff;
    background-color:#666;
    border:1px solid #000;
}

/****************************************

          Content （YouTube iFrame）

*****************************************/

#content {
    float:right;
    width: 60%;
    margin-right:20px;
}
iframe { width: 100%; margin: 0 auto}
#player {
    /*width:600px;*/
    height:400px;
    min-width: 125px;
    min-height: 100px;
}

/****************************************

          ArtistInfo, Similar

*****************************************/

#artist_info{margin-top: 30px;}
li.similar_link{
    float: left;
    margin-bottom:10px;
    width: 50%;
    height: 90px
}

/****************************************

          Amazon

*****************************************/
ul.amz_link {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width:100%;
}
ul.amz_link li {
    padding: 10px;
    float: left;
    /*margin-right:20px;*/
    margin-bottom:20px;
    /*text-align: center;*/
    width:210px;
    height: 240px;
    overflow: auto;
}
/****************************************

          Trend Artist

*****************************************/
.left_side{
    float: left;
    width: 10%;
    min-width: 80px;
    position: fixed;
}
#left_btn{
    float: left;
    min-width: 80px;
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
    /*background: url("../images/trend_off.png");*/
    /*-webkit-transition: width 1s;*/
    /*transition: width 1s;*/
}
#left_btn:hover{
    opacity: 0.5;
    /*background: url("../images/trend_on.png");*/
}
.trend_img{
    width: 64px;
    height:64px;
}
.trend_text{
    top: 50px;
    width: 100%;
    min-width: 70px;
}
.artist_img {
    position: relative;
    margin-top:10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}
.artist_img img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
    opacity: 1;
}
.artist_img img:hover{
    /*background-color: #319dd0;*/
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
img:hover,
.artist_img:hover img {
    opacity: 0.5;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

/****************************************

          Typeahead Dropdown

*****************************************/
.tt-suggestion p{color: gray;}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #EB6100;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #EB6100 100%);
    background-image:         linear-gradient(to bottom, #f5f5f5 0%, #EB6100 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EB6100', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #EB6100;
    background-image: -webkit-linear-gradient(top, #EB6100 0%, #EB6100 100%);
    background-image:         linear-gradient(to bottom, #EB6100 0%, #EB6100 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EB6100', endColorstr='#000000', GradientType=0);
    background-repeat: repeat-x;
}

/****************************************

          footer

*****************************************/

address {font-style:italic;}

#social-buttons {
    margin:0 auto;
    position:absolute;
    right:35px;
    top:15px;
    float: right;
}
#footer{
    font-size:10px;
    margin-top:110px;
}
#footer p{
    text-align:center;
    color:#EB6100;
    margin: 0 auto;
}

/****************************************

          Gradation

*****************************************/

/*body {*/
/*background-color: #4fb4e8;*/
/*background: -webkit-linear-gradient(left, #e47d7d 0%, #c195d3 48%, #4fb4e8 100%);*/
/*background: -moz-linear-gradient(left, #e47d7d 0%, #c195d3 48%, #4fb4e8 100%);*/
/*background: -ms-linear-gradient(left, #e47d7d 0%, #c195d3 48%, #4fb4e8 100%);*/
/*background: -o-linear-gradient(left, #e47d7d 0%, #c195d3 48%, #4fb4e8 100%);*/
/*background: linear-gradient(to right, #e47d7d 0%, #c195d3 48%, #4fb4e8 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#e47d7d', EndColorStr='#4fb4e8'); }*/
/*}*/

