@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700);

.container, h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  background-color: black;
}
p {
  color: white;
}
h1 {
    font-weight:bold;
    margin-right: 90px;
}
h3 {
  color: #EB6100;
}
a {
  color: #EB6100;
  cursor: pointer;
}
a:hover{
  color: #EB8D00;
}
.container {
    float: left;
    margin-bottom:80px;
    width:100%;
    margin: 0 auto;
}
#header {
  text-align:center;
}
#form {
  width:450px;
  margin:0 auto;
  margin-top: 10px;
  float:none;
}
#form .form-control {
  display:inline;
  width:330px;
  padding-left:10px;
}
#form .tt-hint {
  margin:5px 9px;
}
#form button {
  margin:11px 0 0 5px;
  width:80px;
}
#social-buttons {
  width:420px;
  margin:0 auto;
  padding-left:20px;
}
#set-number {
  width:90px;
  float: left;
  /*padding-left:20px;*/
  margin-right:5px;
  text-align: right;
}
.after_view {
    display: none;
}

#content {
  float:right;
  margin-right:200px;
}
#list-intro {
  font-family:'YuGothic', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
  font-size:1.2em;
  display:none;
}
#list {
  width:320px;
  float:left;
  padding-left:15px;
  /*border-right: 1px solid #ccc;*/
}
.list-item {
  width:300px;
  margin-bottom:5px;
}
.list-item img {
  border:1px solid #333;
  margin-right:4px;
  max-width:20px;
  max-height:20px;
  width:20px;
  height:20px;
  background-color:#ccc;
}
.list-item b {
  display:block;
  width:250px;
  margin:0 0 0 4px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height:1.2em;
}
.list-item a {
  display:block;
  padding:5px;
  /*border:1px solid #ccc;*/
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.list-item a:hover {
  background-color:#eee;
}
.list-item a.list-active {
  color: #fff;
  background-color:#666;
  border:1px solid #000;
}
address {
  font-style:italic;
}
#player {
  width:600px;
  height:400px;
  background-color:#000;
}
.tt-suggestion p{
  color: gray;
}

#artist_info{
    margin-top: 30px;
}
li.similar_link{
    float: left;
    margin-bottom:10px;
    width: 180px;
    height: 90px;
}
ul.amz_link {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width:100%;
}
ul.amz_link li {
    padding: 10px;
    float: left;
    /*margin-right:20px;*/
    margin-bottom:20px;
    /*text-align: center;*/
    width:210px;
    height: 240px;
    overflow: auto;
}
.left_side{
    float: left;
    width: 10%;
    position: fixed;
}
.main{
    float: left;
    margin-left: 20px;
    width: 90%;
    position:relative;
    left:10%;
    margin-right: 20px;
}
.clearLeft {
    clear: left;
}
#left_btn{
    float: left;
    width: 100px;
    margin-top: 10px;
    margin-left: 0px;
    height: 30px;
    background: url("../images/trend_off.png");
    /*-webkit-transition: width 1s;*/
    /*transition: width 1s;*/
}

#left_btn:hover{
    /*background: url("../images/trend_on.png");*/
}

.l_col_fix {
    float: left;
    margin-top: 40px;
}

