<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner" ng-controller="menuCtrl">
    <div class="container">
		<div class="yellowline">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-click="modalHow()">
                        <b>How</b>
                    </a>
                </li>
                <li>
                    <a ng-click="asideTrend()">
                        <b>Trend</b>
                    </a>
                </li>
                <li>
                    <a ng-click="recentPlay()">
                        <b>Recent</b>
                    </a>
                </li>
                <li ng-if="artist">
                    <a ng-click="scrollTo('similar')">
                        <b>Similar</b></a>
                </li>
                <li ng-if="artist">
                    <a ng-click="scrollTo('albums')">
                        <b>Albums</b></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                </li>
            </ul>
        </nav>
	</div>
    </div>

</header>