<!DOCTYPE html>
<html ng-app="lamusica" ng-controller="controller">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="Lamusica 好きなアーティストの音楽聴き放題 YouTube Music Player">
    <title ng-bind="title">lamusica</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/typeahead.js-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://mgcrea.github.io/angular-strap/styles/main.min.css">
    <link rel="stylesheet" href="http://mgcrea.github.io/angular-strap/styles/libraries.min.css">
    <link href="css/app.css" rel="stylesheet">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-51540616-1', 'manchan.github.io');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
    <script
            src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js"
            data-apikey="4229069488cae25a34ea572d09247133">
    </script>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
<div>
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-template="template/aside/trend.html" data-animation="am-fade-and-slide-left" data-placement="left" title="Menu" data-container="body" bs-aside="">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">LAMUSICA</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a data-template="template/aside/trend.html" data-animation="am-fade-and-slide-left" data-placement="left" title="Menu" data-container="body" bs-aside>
                            <b><i class="fa fa-headphones"></i> Trend</b>
                        </a>
                    </li>
                    <li>
                        <a ng-click="recentPlay()">
                            <b><i class="fa fa-heart"></i> Recent</b>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>

<div class="container">
    <!--<div class="left_side col-md-2 hidden-sm hidden-xs">-->
    <!--<a id="left_btn"-->
    <!--ng-click="trend_artist()" data-title="{{trendTooltip.title}}" bs-tooltip>-->
    <!--<b><i class="fa fa-headphones"></i> Trend</b>-->
    <!--</a>-->
    <!--<div class="l_col_fix sidebar-nav affix" role="complementary" style="display: none;">-->
    <!--<ul>-->
    <!--<li ng-repeat="artists in top_artists" class="artist_img">-->
    <!--<a class="clearfix" ng-click="similar(artists.name)" ng-class="active_class($index)">-->
    <!--<img ng-src="{{ artists.image[1]['#text'] }}" class="pull-left trend_img">-->
    <!--<br/>-->
    <!--<p class="pull-left trend_text" style="position: absolute;">{{ artists.name }}</p>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <div class="main">
        <div id="header" class="center">
            <h1><a href="http://manchan.github.io/lamusica/" id="top_title"><img src="images/lamusica.jpg" alt="LAMUSICA" /></a></h1>
            <p class="explain">LAMUSICA（ラムジカ）は、検索した音楽アーティストの曲をランキング順に、流します。
                <br/>
                <a
                        data-animation="am-fade-and-scale"
                        data-placement="center"
                        data-template="template/modal/howtouse.html"
                        bs-modal="modal">How to Use: 使い方はこちら</a>
                <!--<a target="_blank" href="http://yuichi-dev.blogspot.jp/2014/08/la-musicayoutube-player.html">How to Use: 使い方はこちら</a>-->
            </p>
            <p class="center">lamusica is YouTube music player. Having fun!</p>
        </div>
        <!-- /header -->
        <div class="row">
            <div id="form" class="col-md-5">
                <form role="form" ng-submit="submit(true)">
                    <div class="form-group">
                        <!--<input type="text" class="form-control typeahead"-->
                        <input type="text"
                               class="form-control artist_input"
                               ng-model="artist"
                               data-animation="am-flip-x"
                               ng-options="artists.name as artists.name for artists in getArtist($viewValue)"
                               placeholder="Enter Artist"
                               bs-typeahead data-title="{{tooltip.artist}}" bs-tooltip>
                        <button type="submit" class="btn btn-default"><b><i class="fa fa-play-circle"></i> Play</b></button>
                    </div>
                </form>
            </div>
        </div>
        <div id="set-number" class="after_view">
            <input type="text" class="form-control right"
                   placeholder="Set Number"
                   ng-model="number" style="text-align: right" id="number" data-title="{{tooltip.setnumber}}" bs-tooltip/>
        </div>
        <div class="after_view">
            <button type="button"
                    class="btn btn btn-default" id="repeat_btn"
                    ng-click="repeatSwitch()" ng-model="button.repeat"
                    bs-checkbox
                    data-title="{{tooltip.repeat}}" bs-tooltip>
                <span class="glyphicon glyphicon-repeat"></span>
            </button>

            <button class="btn btn-default"
                    ng-click="recentPlay()"
                    data-title="{{tooltip.recent}}" bs-tooltip>
                <b><i class="fa fa-heart"></i> Recent</b>
            </button>
        </div>
        <br />
        <br />
        <!--<hr />-->
        <div class="row">
            <div id="list">
                <div id="list-intro">
                    <!--<p><b>lamusica</b> is YouTube music player</p>-->
                    <!--<p>Having fun!</p>-->
                </div>
                <div class="list-item" ng-repeat="track in tracks">
                    <a class="clearfix" ng-click="click($index)" ng-class="active_class($index)">
                        <img ng-src="{{ track.image[1]['#text'] }}" class="pull-left">
                        <b class="pull-left">{{ track.name }}</b>
                    </a>
                </div>
            </div>
            <div id="content">
                <div id="player"></div>
            </div>
        </div>
        <br/>
        <div class="row after_view">
            <div class="col-md-6">
                <h3 data-title="{{tooltip.biography}}" bs-tooltip>Biography</h3>
                <div>
                    <p id="artist_info"></p>
                </div>
            </div>
            <div class="col-md-6">
                <h3 data-title="{{tooltip.similar}}" bs-tooltip>
                    Similar</h3>
                <div ng-repeat="artist in similar_artists">
                    <li class="similar_link">
                        <a class="clearfix" ng-click="similar(artist.name)" ng-class="active_class($index)">
                            <img ng-src="{{ artist.image[1]['#text'] }}" class="pull-left">
                            <b class="pull-left">{{ artist.name }}</b>
                        </a>
                    </li>
                </div>
            </div>
        </div>
        <!--  Amazon Link  -->
        <div class="row after_view">
            <div class="col-md-12">
                <h3 data-title="{{tooltip.album}}" bs-tooltip>Albums</h3>
                <ul>
                    <li class="err" ng-repeat="error in errors"> {{ error }} </li>
                </ul>
                <ul class="amz_link">
                </ul>
            </div>
        </div>

        <!-- Social Buttons -->
        <div class="after_view">
            <div id="social-buttons">
            <span style="margin-right:4px;">
                <a href="http://b.hatena.ne.jp/entry/http://manchan.github.io/lamusica/" class="hatena-bookmark-button" data-hatena-bookmark-title="lamusica" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
            </span>
            <span style="margin-right:5px;">
              <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmanchan.github.io%2Flamusica%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; height:21px;width:175px;"  allowTransparency="true"></iframe>
            </span>
            <span style="margin-right:4px;" id="tweetButtonWrapper">
            </span>
                <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            </div>
        </div>

        <!--FB Like-->
        <div id="footer">
            <p class="center">
                <span class="glyphicon glyphicon-copyright-mark"></span>
                <a href="http://manchan.github.io/">manchan</a>,
                <b>lamusica</b> using Last.fm Web API, YouTube API, amazon Product Advertising API, jQuery, AngularJS, Twitter Bootstrap and GitHub
            </p>
        </div>
    </div>
</div>

<!-- Facebook Conversion Code for musica -->
<script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
    }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6019086384215', {'value':'0.00','currency':'JPY'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6019086384215&amp;cd[value]=0.00&amp;cd[currency]=JPY&amp;noscript=1" /></noscript>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '738992552848747',
            xfbml      : true,
            version    : 'v2.2'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
<!--<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>-->
<![endif]-->
<script src="js/jquery.js"></script>
<script src="js/typeahead.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Angular -->
<script src="http://code.angularjs.org/1.3.2/angular.min.js" data-semver="1.3.2"></script>
<script src="http://code.angularjs.org/1.3.2/angular-animate.min.js" data-semver="1.3.2"></script>
<script src="http://code.angularjs.org/1.3.2/angular-sanitize.min.js" data-semver="1.3.2"></script>
<script src="http://code.angularjs.org/1.3.2/angular-route.min.js" data-semver="1.3.2"></script>
<!-- AngularStrap -->
<script src="http://mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.1.4"></script>
<script src="http://mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.1.4"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>

<script src="js/underscore.js"></script>
<script src="js/app.js"></script>
<script src="js/factories.js"></script>
<script src="js/controllers/lamusicaCtrl.js"></script>
<script src="js/youtube-resize.js"></script>
</body>
</html>