<div id="recentPlay" class="aside" tabindex="-1" role="dialog" ng-controller="recentPlayCtrl">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title" ng-bind-html="title"></h4>
            </div>
            <div class="aside-body">
                <h4>最近聞かれているアーティストリスト</h4>
                <select class="form-control" ng-model="sortorder" ng-init="sortorder='-date'">
                    <option value="-date">Recent</option>
                    <option value="+count">count 少ない順</option>
                    <option value="-count">count 多い順</option>
                    <option value="+name">name (A-Z)</option>
                    <option value="-name">name (Z-A)</option>
                </select>

                <!-- React generate virtual DOM faster than ng-repeat -->
                <recent-play plays="plays" onplay="clickPlay" sorter="sortorder"/>
                <!--<ul>-->
                    <!--<li ng-repeat="play in plays | limitTo:100| orderBy: sortorder">-->
                        <!--<div>-->
                            <!--<span style="margin: 3px;">-->
                            <!--<a ng-click="onclickArtist(play.name);$hide();">-->
                                <!--{{ play.name }}-->
                            <!--</a>-->
                            <!--</span>-->
                            <!--<span style="float: right;">-->
                                 <!--{{ play.count }} plays-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <!--<button type="button" class="btn btn-danger" ng-click="plays_all_remove()">All Remove</button>-->
            </div>
        </div>
    </div>
</div>
