<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title" ng-bind-html="title"></h4>
            </div>
            <div class="aside-body">
                <h4><b><i class="fa fa-headphones"></i> 急上昇中<br/> or<br/> TOPアーティスト</b></h4>
                <button class="btn btn-default" ng-click="trend_artist()">
                    <b><i class="fa fa-refresh"></i></b>
                </button>
                <!-- Loading -->
                <div loading-spinner="viewLoading">
                    <!-- actual view content goes here. -->
                </div>
                <ul>
                    <li ng-repeat="artists in top_artists" class="artist_img">
                        <a class="clearfix" ng-click="similar(artists.name)" ng-class="active_class($index)">
                            <img ng-src="{{ artists.image[1]['#text'] }}" class="pull-left trend_img">
                            <br/>
                            <p class="pull-left trend_text" style="position: absolute;">{{ artists.name }}</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
