<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Lamusica 使い方</h4>
            </div>
            <div class="modal-body" ng-show="content">
                <h4>アーティスト名を入れてplayボタンを押すだけ、
                    あとは自動的にアーティストの音楽がランキング順に流れます。</h4>
                <br/>
                <h4>■一曲をリピートしたい時</h4>
                <p>画面左リピートボタンを使用してください。</p>

                <h4>■Biographyの欄</h4>
                <p>アーティスト情報の表示</p>

                <h4>■Similarの欄</h4>
                <p>似ているアーティストの表示とリンククリックで、自動再生</p>

                <h4>■画面左Trend</h4>
                <p>人気アーティストもしくは急上昇アーティストをランダム表示、クリックで自動再生</p>

                <h4>■取得する動画数を増やしたい場合</h4>
                <p>デフォルトで20個に設定しているので、
                    増やしたいもしくは少なくしたい場合は、</p>
                <p>「set number」に
                    数字を入力してください。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
